<ng-template #formTemplate let-data=data>
  <h1 mat-dialog-title>CRUD</h1>
  <div mat-dialog-content>
    <form [formGroup]="formGroup" class="crud-form">
      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Placeholder" formControlName="name" required>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>X</mat-label>
        <input matInput type="number" placeholder="Placeholder" formControlName="coordinateX" required>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Y</mat-label>
        <input matInput type="number" placeholder="Placeholder" formControlName="coordinateY" required>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Salary</mat-label>
        <input matInput type="number" placeholder="Placeholder" formControlName="salary">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>End date</mat-label>
        <input matInput type="datetime-local" placeholder="Placeholder" formControlName="endDate">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Position</mat-label>
        <mat-select name="position" formControlName="position" required>
          <mat-option *ngFor="let position of positions" [value]="position.value" required>
            {{position.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Status</mat-label>
        <mat-select name="status" formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status.value">
            {{status.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Annual turnover</mat-label>
        <input matInput type="number" placeholder="Placeholder" formControlName="annualTurnover" required>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Employees count</mat-label>
        <input matInput type="number" placeholder="Placeholder" formControlName="employeesCount" required>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Organization type</mat-label>
        <mat-select name="orgType" formControlName="organizationType" required>
          <mat-option *ngFor="let orgType of organizationType" [value]="orgType.value" required>
            {{orgType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <p [hidden]="formValid">
      Only Salary, Status and End date are NOT required!
    </p>
    <button mat-button color="primary" (click)="close()">No Thanks</button>
    <button mat-button color="primary" (click)="ok()">Ok</button>
  </div>
</ng-template>
