<div>
  <button mat-button color="primary" (click)="createWorker()">Add new Worker</button><br/>
  <button mat-button color="primary" (click)="editWorker()">Edit worker by id</button>
  <label>
    <input placeholder="Worker Id" type="number" min="0" value="" [(ngModel)]="id" required>
  </label>
  <button mat-button color="primary" (click)="deleteWorker()">Delete worker by id</button>
  <p [hidden]="!!id || id == 0" class="warning">
    Id is required!
  </p>
  <app-workers-table-filter-sort (workersChange)="onWorkersChanged($event)"></app-workers-table-filter-sort>
</div>

<app-crud-form [(visible)]="addFormVisible"
               [worker]="addCurrentWorker"
               [id]="id"
               [isEdit]="isEdit">
</app-crud-form>
