<div>
  <button mat-button color="primary" (click)="getMax()">Find worker with max salary</button><br/>
  <button mat-button color="primary" (click)="getPrefix()">Find with prefix:</button>
  <label>
    <input type="text" [(ngModel)]="prefix">
  </label><br/>
  <button mat-button color="primary" (click)="getSalary()">Count workers with salary:</button>
  <label>
    <input type="number" [(ngModel)]="salary">
  </label>
  <span> Count: {{count}}</span><br/>
  <p [hidden]="!!salaryValid" class="warning">Salary must be number more than zero</p>
  <button mat-button color="primary" (click)="getWorkerById()">Get worker by id:</button>
  <label>
    <input type="number" [(ngModel)]="id">
  </label>
  <p [hidden]="!!idValid" class="warning">Id must be number more than zero</p>
  <app-workers-table [workers]="workers"></app-workers-table>
</div>
